*{
  margin: 0;
}
.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  
}
html{
  scroll-snap-type:  y mandatory;
}

.app__videos {
  position: relative;
  height: 800px;
  overflow: scroll;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

 /*hide scrollbar for chrome ,safari and opera-*/
 .app__videos::-webkit-scrollbar{
   display: none;
 }

 /* hide scrollbar for IE, Edge and Firefox */
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}